---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$link-color: #28c;
$text-color: #111;

html {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  overflow-y: scroll;
}

body {
  color: $text-color;
  background-color: #fdfdfd;
  padding-top: 0.5rem;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

h1, h2, h3 {
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
}

h1 span {
  color: #666;
}

$logo-padding: 0.5rem;

h1 a {
  display: inline-block;
  padding: ($logo-padding * 0.5) $logo-padding;
  margin: -($logo-padding * 0.5) -$logo-padding;
  margin-right: -($logo-padding * 0.5);
  color: $text-color;
}

h1 a:hover,
h1 a:focus {
  text-decoration: none;
  background-image: linear-gradient(
    73deg,
    rgba(128, 192, 255, 0.35),
    rgba(128, 192, 255, 0.55),
    rgba(128, 192, 255, 0.15)
    );
  border-radius: 8% 20% 38% 50%;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  background-size: auto 0.3rem;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    75deg,
    rgba(255, 192, 128, 0.55),
    rgba(255, 192, 128, 0.85),
    rgba(255, 192, 128, 0.15)
    );
  border-radius: 2% 1% 8% 5%;
}

h3 {
  font-size: 1.1rem;
  color: #555;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.lead {
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  background-size: auto 0.5rem;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    75deg,
    rgba(255, 192, 128, 0.35),
    rgba(255, 192, 128, 0.85),
    rgba(255, 192, 128, 0.25)
    );
  border-radius: 2% 1% 2% 5%;
}

.lead strong {
  background-image: linear-gradient(
    75deg,
    rgba(255, 192, 128, 0.35),
    rgba(255, 192, 128, 0.85),
    rgba(255, 192, 128, 0.25)
    );
  border-radius: 5% 30% 20% 40%;
}


img {
  width: 100%;
}

ul {
  margin: 1rem 0;
  padding-left: 2rem;
}

.desktop-only {
  display: none;
}

@media screen and (min-width: 800px) {
  .desktop-only {
    display: inherit;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 110%;
  }

  .lead {
    font-size: 1.2rem;
  }

  ul {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 125%;
  }

  .lead {
    font-size: 1.35rem;
  }
}
