---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$link-color: #28c;
$text-color: #111;

html {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  overflow-y: scroll;
}

body {
  color: $text-color;
  background-color: #fdfdfd;
  padding-top: 0.5rem;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

h1, h2, h3 {
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
}

h1 span {
  color: #666;
}

$logo-padding: 0.5rem;

h1 a {
  display: inline-block;
  padding: ($logo-padding * 0.5) $logo-padding;
  margin: -($logo-padding * 0.5) -$logo-padding;
  margin-right: -($logo-padding * 0.5);
  color: $text-color;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

h1 a:hover,
h1 a:focus {
  background: mix(#fff, $link-color, 80%);
  color: mix($text-color, #fff, 90%);
  text-decoration: none;
}

h2 {
  font-size: 1.5rem;
  border-bottom: 1px #888 solid;
}

h3 {
  font-size: 1.1rem;
  color: #555;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

img {
  width: 100%;
}

ul {
  margin: 1rem 0;
  padding-left: 2rem;
}

@media screen and (min-width: 700px) {
  html {
    font-size: 110%;
  }

  ul {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 125%;
  }
}
