html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

a {
  color: #00f;
}

a:active {
  color: #f00;
}

a {
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

